# langchain
python-dotenv
langchain-groq
#langchain_google_genai
#langchain_community
pypdf
## langchain.document_loaders
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing] #how many tokens we will be using in a single call
pytest
# -e .
# langchain_core 


# langchain==0.3.25
# langchain-core==0.3.55
# langchain-community==0.3.25
# langchain-openai==0.3.25
# langchain-groq==0.3.2
# langchain-google-genai==2.0.0
# langchain>=0.2.0


langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-google-genai


# langchain==0.1.17
# langchain-community==0.0.36
# langchain-core==0.1.52
# langchain-google-genai==0.0.8

# langchain==0.3.27
# langchain-community==0.3.27
# langchain-core==0.3.72

# langchain-groq==0.3.6
# langchain-google-genai==2.1.8

# faiss-cpu==1.11.0.post1
# fastapi==0.116.1
# uvicorn==0.35.0
# python-dotenv==1.1.1
# python-multipart==0.0.20
# PyMuPDF==1.26.3
# structlog==25.4.0
# docx2txt==0.9
# ipykernel==6.30.0
# streamlit==1.47.1
# pytest==8.4.1
# pypdf==5.8.0
# cfn-lint
# -e .




